<script setup lang="ts">
import { IconBellRinging } from '@tabler/icons-vue'
</script>

<template>
  <v-menu :close-on-content-click="false">
    <template v-slot:activator="{ props }">
      <v-btn
        icon
        variant="text"
        class="custom-hover-primary ml-0 ml-md-5 text-muted"
        v-bind="props"
      >
        <v-badge dot color="primary" offset-x="-5" offset-y="-3">
          <IconBellRinging stroke-width="1.5" :size="22" />
        </v-badge>
      </v-btn>
    </template>
    <v-sheet rounded="md" width="300" elevation="10" class="mt-2">
      <v-list class="py-0" lines="one" density="compact">
        <v-list-item value="item1" color="primary">
          <v-list-item-title class="pl-4 text-body-1">Something went wrong...</v-list-item-title>
        </v-list-item>
        <v-list-item value="item2" color="primary">
          <v-list-item-title class="pl-4 text-body-1">Something went right</v-list-item-title>
        </v-list-item>
        <v-list-item value="item3" color="primary">
          <v-list-item-title class="pl-4 text-body-1">EVERYTHING WENT WRONG</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-sheet>
  </v-menu>
</template>
