<script setup lang="ts">
defineProps({
  title: String,
  showActions: Boolean
})
</script>

<template>
  <v-card variant="elevated" elevation="2" class="mb-6 overflow-hidden cyberrity-card fill-height">
    <v-card-item>
      <slot name="header">
        <v-card-title class="text-18">{{ title }}</v-card-title>
      </slot>
    </v-card-item>
    <v-divider></v-divider>
    <div class="d-flex flex-column">
      <slot />
    </div>
    <v-divider></v-divider>
    <v-card-actions :class="`${showActions ? '' : 'd-none'}`">
      <slot name="footer" />
    </v-card-actions>
  </v-card>
</template>

<style lang="scss">
.cyberrity-card {
  background-color: rgb(var(--v-theme-cardBackground));
}
</style>
