<script setup lang="ts">
import type { FunctionalComponent } from 'vue'
import type { SVGProps } from '@tabler/icons-vue'

interface Props {
  item?: FunctionalComponent<SVGProps>
  level: number
}

defineProps<Props>()
</script>

<template>
  <template v-if="level > 0">
    <component :is="item" size="20px" fill="none" stroke-width="1.5" class="iconClass"></component>
  </template>
  <template v-else>
    <component :is="item" size="20" stroke-width="1.5" class="iconClass"></component>
  </template>
</template>
