<script setup lang="ts">
import type { MenuItem } from '@/layouts/full/vertical-sidebar/sidebarItem'

withDefaults(
  defineProps<{
    item?: MenuItem
  }>(),
  {
    item: () => new Object() // TODO, actual type here of course
  }
)
</script>

<template>
  <v-list-subheader
    color="darkText"
    class="smallCap text-uppercase text-subtitle-2 mt-5 font-weight-bold"
    >{{ item.header }}</v-list-subheader
  >
</template>
