<script setup lang="ts">
/*Call Components*/
import VulnerabilitiesOverview from '@/components/dashboard/VulnerabilitiesOverview.vue'
import OutstandingVulnerabilities from '@/components/dashboard/OutstandingVulnerabilities.vue'
import TimeToResolution from '@/components/dashboard/TimeToResolution.vue'
import RecentIncidents from '@/components/dashboard/RecentIncidents.vue'
import RecentVulnerabilities from '@/components/dashboard/RecentVulnerabilities.vue'
import CyberNews from '@/components/dashboard/CyberNews.vue'
import { useDisplay } from 'vuetify'

// Destructure only the keys you want to use
const { mdAndDown } = useDisplay()
</script>
<template>
  <v-row>
    <v-col cols="12">
      <v-row>
        <v-col cols="12" lg="8" style="height: 530px">
          <VulnerabilitiesOverview />
        </v-col>
        <v-col cols="12" lg="4" v-if="mdAndDown">
          <v-row>
            <v-col cols="12" md="6">
              <div class="smallCards">
                <OutstandingVulnerabilities />
              </div>
            </v-col>
            <v-col cols="12" md="6">
              <div class="smallCards">
                <TimeToResolution />
              </div>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" lg="4" class="d-flex flex-column" v-else>
          <div class="smallCards">
            <OutstandingVulnerabilities />
          </div>
          <v-spacer></v-spacer>
          <div class="smallCards">
            <TimeToResolution />
          </div>
        </v-col>
        <v-col cols="12" lg="4">
          <RecentIncidents />
        </v-col>
        <v-col cols="12" lg="8">
          <RecentVulnerabilities style="padding-bottom: 10px" />
        </v-col>
        <v-col cols="12">
          <CyberNews />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<style lang="scss">
.smallCards {
  height: 242px;
}
</style>
