<script setup lang="ts">
import type { MenuItem } from '@/layouts/full/vertical-sidebar/sidebarItem'

interface Props {
  item: MenuItem
  level?: number
}

withDefaults(defineProps<Props>(), {
  level: 10
})
</script>

<template>
  <!---Single Item-->
  <v-list-item
    :to="item.to"
    rounded
    class="mb-1"
    color="primary"
    :disabled="item.disabled"
    :target="item.type === 'external' ? '_blank' : ''"
    :prepend-icon="item.icon"
  >
    <v-list-item-title>{{ item.title }}</v-list-item-title>
    <v-list-item-subtitle v-if="item.subCaption" class="text-caption mt-n1 hide-menu">
      {{ item.subCaption }}
    </v-list-item-subtitle>
    <template v-slot:append v-if="item.chip && item.chipVariant">
      <v-chip
        :color="item.chipColor"
        class="sidebarchip hide-menu"
        :size="'small'"
        :variant="item.chipVariant"
        :prepend-icon="item.chipIcon"
      >
        {{ item.chip }}
      </v-chip>
    </template>
  </v-list-item>
</template>
