<script setup lang="ts">
import { RouterView } from 'vue-router'
// import VerticalSidebarVue from './vertical-sidebar/VerticalSidebar.vue';
// import VerticalHeaderVue from './vertical-header/VerticalHeader.vue';
import NavBars from './NavBars.vue'
</script>

<template>
  <v-locale-provider>
    <v-app>
      <!-- <VerticalSidebarVue />
            <VerticalHeaderVue  /> -->
      <NavBars />
      <v-main>
        <v-container fluid class="page-wrapper">
          <div class="maxWidth">
            <RouterView />
          </div>
        </v-container>
      </v-main>
    </v-app>
  </v-locale-provider>
</template>
