<script setup lang="ts">
import { ref } from 'vue'
import sidebarItems from './vertical-sidebar/sidebarItem'
import NavGroup from './vertical-sidebar/NavGroup/index.vue'
import NavItem from './vertical-sidebar/NavItem/index.vue'
import ExtraBox from './vertical-sidebar/extrabox/ExtraBox.vue'
import Logo from './logo/Logo.vue'
import ProfileDD from './vertical-header/ProfileDD.vue'
const sDrawer = ref(true)
</script>

<template>
  <v-navigation-drawer left elevation="0" app class="leftSidebar" v-model="sDrawer">
    <div class="pa-5">
      <Logo />
      <h2 class="logo-text">Cyberrity</h2>
    </div>
    <div>
      <!-- <perfect-scrollbar class="scrollnavbar"> -->
      <v-list class="pa-6">
        <template v-for="item in sidebarItems">
          <NavGroup :item="item" v-if="item.header" :key="item.title" />
          <NavItem :item="item" v-else class="leftPadding" :key="item.title + 'else'" />
        </template>
      </v-list>
      <div class="pa-4">
        <ExtraBox />
      </div>
      <!-- </perfect-scrollbar> -->
    </div>
    <template #append>
      <div class="pa-4" style="float: right">
        <ProfileDD />
      </div>
    </template>
  </v-navigation-drawer>
  <!-- <v-app-bar elevation="0" height="70" style="background-color: rgb(var(--v-theme-background))">
    <div class="d-flex align-center justify-space-between w-100">
      <div>
        <v-btn
          class="hidden-lg-and-up ms-md-3 ms-sm-5 ms-3 text-muted"
          @click="sDrawer = !sDrawer"
          icon
          variant="flat"
          size="small"
        >
          <IconMenu2 sIconBellRinging="20" stroke-width="1.5" />
        </v-btn>
        <NotificationDD />
      </div>
      <div>
        <v-btn class="mr-2 bg-primary" @click="downloadPdf('/nathanBoganResume2024.pdf')"
          >Download Free</v-btn
        >
        <ProfileDD />
      </div>
    </div>
  </v-app-bar> -->
</template>
