<template>
  <div class="logo">
    <RouterLink to="/">
      <v-img :width="300" aspect-ratio="16/9" cover :src="logo"></v-img>
    </RouterLink>
  </div>
</template>
<script setup lang="ts">
import { RouterLink } from 'vue-router'
const logo = new URL('@/assets/images/logos/cyberrity-logo.png', import.meta.url).href
</script>
