<script setup lang="ts">
import ApiService from '@/services/ApiService'
import { ref } from 'vue'
import type { newsItems } from '@/types/dashboard'
import { onMounted } from 'vue'

const news = ref<newsItems[]>()
const loading = ref(true)

onMounted(async () => {
  news.value = await ApiService.getCyberNews()

  await new Promise(r => setTimeout(r, 2000))
  loading.value = false
})
</script>
<template>
  <v-row>
    <v-col cols="12" lg="3" sm="6" v-for="card in news" :key="card.title">
      <v-skeleton-loader :loading="loading" height="240" type="image, list-item-two-line">
        <v-card elevation="10" rounded="md">
          <a :href="card.link" target="_blank" rel="noopener noreferrer">
            <img :src="card.photo" style="width: auto; height: 200px" class="rounded-t-md" />
          </a>
          <div class="d-flex justify-end mr-4 mt-n5" style="height: 40px">
            <!-- <v-btn :size="40" icon class="bg-?primary d-flex"> -->
            <!-- <v-avatar :size="30" class="text-white">
              <IconBasket :size="15" />
            </v-avatar> -->
            <!-- <v-tooltip activator="parent" location="bottom">Add To Cart </v-tooltip> -->
            <!-- </v-btn> -->
          </div>
          <v-card-item class="pt-0" style="height: 100px">
            <h6 class="text-h6" v-text="card.title"></h6>
            <div class="d-flex align-center justify-space-between mt-1"></div>
          </v-card-item>
        </v-card>
      </v-skeleton-loader>
    </v-col>
  </v-row>
</template>
