<script setup lang="ts">
import { computed } from 'vue'
import { useTheme } from 'vuetify'
import { IconArrowUpLeft } from '@tabler/icons-vue'
import CyberrityCard from '../shared/CyberrityCard.vue'

const theme = useTheme()
const secondary = theme.current.value.colors.secondary
const warning = theme.current.value.colors.warning
const error = theme.current.value.colors.error

const chartOptions = computed(() => {
  return {
    labels: ['Low Risk', 'Medium Risk', 'High Risk'],
    chart: {
      type: 'donut',
      fontFamily: `inherit`,
      foreColor: '#a1aab2',
      toolbar: {
        show: false
      }
    },
    colors: [secondary, warning, error],
    plotOptions: {
      pie: {
        startAngle: 0,
        endAngle: 360,
        donut: {
          size: '75%',
          background: 'transparent'
        }
      }
    },
    stroke: {
      show: false
    },

    dataLabels: {
      enabled: false
    },
    legend: {
      show: false
    },
    tooltip: { theme: 'light', fillSeriesColor: false }
  }
})
const Chart = [38, 40, 25]
</script>
<template>
  <CyberrityCard title="Outstanding Vulnerabilities">
    <v-row class="pl-4">
      <v-col cols="6" sm="6" id="outstandingVulnerabilitiesCount">
        <div class="mt-6">
          <h3 class="text-h3">{{ Chart.reduce((prev, next) => (prev += next), 0) }}</h3>
          <div class="mt-1">
            <v-avatar class="bg-lighterror text-accent" :size="25">
              <IconArrowUpLeft :size="20" />
            </v-avatar>
            <span class="text-subtitle-1 ml-2 font-weight-bold">+9%</span>
            <span class="text-subtitle-1 text-muted ml-2">last year</span>
          </div>
        </div>
      </v-col>
      <v-col cols="6" sm="6" class="pl-lg-0 pr-2">
        <div class="d-flex align-center flex-shrink-0">
          <apexchart class="pt-6" type="donut" height="145" :options="chartOptions" :series="Chart">
          </apexchart>
        </div>
      </v-col>
    </v-row>
  </CyberrityCard>
</template>

<style lang="scss" scoped>
#outstandingVulnerabilitiesCount {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
</style>
}
