<script setup lang="ts">
import { vulnerabilities } from '@/data/dashboard/dashboardData'
import CyberrityCard from '../shared/CyberrityCard.vue'
</script>
<template>
  <CyberrityCard title="Recent Vulnerabilities">
    <v-table class="month-table">
      <thead>
        <tr>
          <th class="text-subtitle-1 font-weight-bold">Id</th>
          <th class="text-subtitle-1 font-weight-bold">Assigned</th>
          <th class="text-subtitle-1 font-weight-bold">Category</th>
          <th class="text-subtitle-1 font-weight-bold">Risk</th>
          <th class="text-subtitle-1 font-weight-bold text-right">Est. TTR</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in vulnerabilities" :key="item.name" class="month-item">
          <td>
            <p class="text-15 font-weight-medium">{{ item.id }}</p>
          </td>
          <td>
            <div class="">
              <h6 class="text-subtitle-1 font-weight-bold">{{ item.name }}</h6>
              <div class="text-13 mt-1 text-muted">{{ item.title }}</div>
            </div>
          </td>
          <td>
            <h6 class="text-body-1 text-muted">{{ item.category }}</h6>
          </td>
          <td>
            <v-chip :class="'text-body-1 bg-' + item.statuscolor" color="white" size="small">{{
              item.status
            }}</v-chip>
          </td>
          <td>
            <h6 class="text-h6 text-right">{{ item.estimatedTtr }}</h6>
          </td>
        </tr>
      </tbody>
    </v-table>
  </CyberrityCard>
</template>

<style lang="scss">
@media screen and (max-width: 700px) {
  .theme--light.v-data-table thead tr:last-child th,
  .theme--light.v-data-table tbody tr:not(:last-child) td:last-child,
  .theme--light.v-data-table tbody tr td,
  .theme--light.v-data-table tbody tr:not(:last-child) td:not(.v-data-table__mobile-row) {
    border-bottom: medium solid rgba(0, 0, 0, 0.12);
  }
}
</style>
