<script setup lang="ts">
import { IconCircle } from '@tabler/icons-vue'
import { recentIncidents } from '@/data/dashboard/dashboardData'
import CyberrityCard from '../shared/CyberrityCard.vue'
</script>
<template>
  <CyberrityCard title="Recent Incidents">
    <div class="recent-transaction mt-10 ma-4">
      <v-row class="pl-4" v-for="list in recentIncidents" :key="list.id">
        <v-col cols="4" lg="3" md="auto" sm="auto" class="px-0 pt-0 pb-1">
          <h6 class="text-body-1 textSecondary text-no-wrap">
            {{ `${list.title.getMonth() + 1} - ${list.title.getDate()}` }}
          </h6>
        </v-col>
        <v-col cols="1" sm="1" class="px-0 text-center pt-0 pb-1">
          <IconCircle :size="13" :class="'text-' + list.textcolor" />
          <div class="line mx-auto"></div>
        </v-col>
        <v-col cols="7" sm="8" class="pt-0">
          <h6 v-if="list.textcolor === 'error'" class="text-body-1 font-weight-bold">
            {{ list.subtitle }}
          </h6>
          <h6 v-else class="text-body-1 textSecondary">{{ list.subtitle }}</h6>
          <div class="mt-n1">
            <!-- <RouterLink :to="list.url" class="text-body-1 text-primary text-decoration-none" v-if="list.link">{{
                                    list.link
                                }}</RouterLink> -->
          </div>
        </v-col>
      </v-row>
    </div>
  </CyberrityCard>
</template>
<style lang="scss">
.recent-transaction {
  .line {
    width: 2px;
    height: 35px;
  }
}
</style>
