<script setup lang="ts">
import { computed } from 'vue'
import { useTheme } from 'vuetify'
import { IconClock, IconArrowDownRight } from '@tabler/icons-vue'
import { dataSeries } from '@/data/dashboard/dashboardData'
import CyberrityCard from '../shared/CyberrityCard.vue'

const theme = useTheme()
const chartSeries = theme.current.value.colors.chartSeries

/* Chart */
const areachartOptions = computed(() => {
  return {
    chart: {
      type: 'area',
      height: 60,
      fontFamily: `inherit`,
      foreColor: '#a1aab2',
      toolbar: {
        show: false
      },
      sparkline: {
        enabled: true
      },
      group: 'sparklines',
      xaxis: {
        type: 'datetime'
      },
      dataLabels: {
        enabled: false
      }
    },
    colors: [chartSeries],
    stroke: {
      curve: 'smooth',
      width: 2
    },
    fill: {
      type: 'solid',
      opacity: 0.05
    },
    markers: {
      size: 0
    },
    tooltip: { enabled: false }
  }
})

let ts2 = 1484418600000
let data = []
for (let i = 0; i < 120; i++) {
  ts2 = ts2 + 86400000
  data.push([ts2, dataSeries[1][i].value])
}

const areaChart = {
  series: [
    {
      name: '',
      data
    }
  ]
}
</script>
<template>
  <CyberrityCard>
    <template #header>
      <div class="d-flex align-center justify-space-between">
        <v-card-title class="text-18">Time To Resolution</v-card-title>
        <v-btn size="large" icon class="bg-secondary mb-1">
          <v-avatar size="large" class="text-white">
            <IconClock :size="25" />
          </v-avatar>
        </v-btn>
      </div>
    </template>
    <template #default>
      <v-row>
        <v-col cols="12">
          <div class="ml-4">
            <h3 class="text-h3">31 hours</h3>
            <div class="mt-1">
              <v-avatar class="bg-lightsuccess text-success" :size="25">
                <IconArrowDownRight :size="20" />
              </v-avatar>
              <span class="text-subtitle-1 ml-2 font-weight-bold">-24%</span>
              <span class="text-subtitle-1 text-muted ml-2">last month</span>
            </div>
          </div>
        </v-col>
      </v-row>
      <div id="chartParent" class="mb-0">
        <apexchart type="area" height="60" :options="areachartOptions" :series="areaChart.series">
        </apexchart>
      </div>
    </template>
  </CyberrityCard>
</template>

<style lang="scss">
#chartParent {
  bottom: 0;
  width: 100%;
  position: absolute;
}
</style>
