<script setup lang="ts">
import { computed } from 'vue'
import { useTheme } from 'vuetify'
import CyberrityCard from '../shared/CyberrityCard.vue'
const theme = useTheme()
const success = theme.current.value.colors.success
const error = theme.current.value.colors.error
// const select = ref('March 2023');
// const items = ref(['March 2023', 'April 2023', 'May 2023']);
const addressedData = [2, 6, 4, 6, 8, 7, 2, 10]
const outstandingData = [12, 7, 5, 2, 3, 2, 1, 3]
const chartOptions = computed(() => {
  const dates = [...Array(addressedData.length)].map((_, i) => {
    const d = new Date()
    d.setDate(d.getDate() - 7 * i)
    return `${d.getMonth() + 1} - ${d.getDate()}`
  })

  return {
    series: [
      { name: 'Addressed', data: addressedData },
      { name: 'Outstanding', data: outstandingData }
    ],
    chartOptions: {
      grid: {
        borderColor: 'rgba(0,0,0,0.1)',
        strokeDashArray: 3,
        xaxis: {
          lines: {
            show: false
          }
        }
      },
      plotOptions: {
        bar: { horizontal: false, columnWidth: '35%', borderRadius: [4] }
      },
      colors: [success, error],
      chart: {
        type: 'bar',
        height: 370,
        offsetX: -15,
        toolbar: { show: true },
        foreColor: '#adb0bb',
        fontFamily: 'inherit',
        sparkline: { enabled: false }
      },
      dataLabels: { enabled: false },
      markers: { size: 0 },
      // legend: { show: false },
      xaxis: {
        type: 'category',
        categories: dates,
        labels: {
          style: { cssClass: 'grey--text lighten-2--text fill-color' }
        }
      },
      yaxis: {
        show: true,
        tickAmount: 4,
        labels: {
          style: {
            cssClass: 'grey--text lighten-2--text fill-color'
          }
        }
      },
      stroke: {
        show: true,
        width: 3,
        lineCap: 'round',
        colors: ['transparent']
      },
      tooltip: { theme: 'light' },

      responsive: [
        {
          breakpoint: 600,
          options: {
            plotOptions: {
              bar: {
                borderRadius: 3
              }
            }
          }
        }
      ]
    }
  }
})
</script>
<template>
  <CyberrityCard title="Vulnerabilities Overview">
    <div class="mt-3 pa-4">
      <apexchart
        type="bar"
        height="370px"
        :options="chartOptions.chartOptions"
        :series="chartOptions.series"
      >
      </apexchart>
    </div>
  </CyberrityCard>
</template>
